################################################################################
# --- OS固有の設定 ---
################################################################################
{{ if eq .chezmoi.os "darwin" -}}
# macOS用の設定

eval "$(/opt/homebrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

{{ else if eq .chezmoi.os "linux" -}}
# Linux (Chromebook / WSL2) 用の設定

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

{{ end -}}

################################################################################
# --- 共通の設定 ---
################################################################################
# Zshの補完システムを初期化
autoload -U compinit
compinit

# コマンド履歴管理
setopt incappendhistory
HISTFILE="${ZDOTDIR:-$HOME}/.zsh_history"
HISTSIZE=1000
SAVEHIST=1000

# cd履歴管理(cdr)
autoload -Uz chpwd_recent_dirs cdr add-zsh-hook
add-zsh-hook chpwd chpwd_recent_dirs

#--------------------------------------------------
# Zinit
#--------------------------------------------------
source "${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

#--------------------
# Load plugins
#--------------------
# シンタックスハイライト
zinit light zdharma-continuum/fast-syntax-highlighting
# 入力補完
zinit light zsh-users/zsh-autosuggestions
zinit light zsh-users/zsh-completions
# コマンド履歴
# zinit light zdharma/history-search-multi-word

#----------
# anyframe
#----------
# 色々な履歴
zinit light mollifier/anyframe

zstyle ":anyframe:selector:" use fzf
zstyle ":anyframe:selector:fzf:" command 'fzf --extended'
# zstyle ":anyframe:selector:" use fzf-tmux
# zstyle ":anyframe:selector:fzf-tmux:" command 'fzf-tmux --extended'

# kill
bindkey '^xk' anyframe-widget-kill
# ディレクトリ履歴
bindkey '^xd' anyframe-widget-cdr
# コマンド実行履歴
# bindkey '^r' anyframe-widget-execute-history
bindkey '^r' anyframe-widget-put-history


# エディタ設定など
export EDITOR='vim'
export VISUAL='vim'

#+--------------------------------------------------
# aliases
#+--------------------------------------------------
alias g="git"

alias ls="lsd"
alias l="lsd"
alias ll="lsd -l"
alias la="lsd -a"
alias lla="lsd -la"
alias lt="lsd --tree"

