################################################################################
# --- OS固有の設定 ---
################################################################################
{{ if eq .chezmoi.os "darwin" -}}
# macOS用の設定

eval "$(/opt/homebrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

{{ else if eq .chezmoi.os "linux" -}}
# Linux (Chromebook / WSL2) 用の設定

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

{{ end -}}

################################################################################
# --- 共通の設定 ---
################################################################################
# Zshの補完システムを初期化
autoload -U compinit
compinit

### Zinit
source "${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load plugins
# シンタックスハイライト
zinit light zdharma-continuum/fast-syntax-highlighting
# 入力補完
zinit light zsh-users/zsh-autosuggestions
zinit light zsh-users/zsh-completions
# コマンド履歴を検索
zinit light zdharma/history-search-multi-word

# 色々な履歴
zinit light mollifier/anyframe
zstyle ":anyframe:selector:" use fzf
zstyle ":anyframe:selector:fzf:" command 'fzf --extended'

add-zsh-hook chpwd chpwd_recent_dirs
# コマンド実行履歴
bindkey '^xr' anyframe-widget-execute-history
bindkey '^x^r' anyframe-widget-execute-history

# エディタ設定など
export EDITOR='vim'
export VISUAL='vim'

#+--------------------------------------------------
# aliases
#+--------------------------------------------------
alias g="git"
